
html, body
{
    height:100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

body
{
    text-align: center;
    
}

#article
{
    position: relative;
    width:600px;
    height:600px;
}

#texteHaut {
   background-color: transparent;
   position: absolute;
   left: 20%;
   top: 5%;
   border: 0ch;
   color:darkgray;
   font-size: 30px;
   z-index: 2;
}

#texteBas {
    position: absolute;
    left: 20%;
    bottom: 5%;
    background-color: transparent;
    border: 0ch;
    color:darkgray;
    font-size: 30px;
    z-index: 2;
}

#commande
{
    display:flex;
    flex-direction: column   
}
H2
{
   font-size:  32px;
}

header
{
    display: flex;
    justify-content:space-around;
    height:200px;
    margin-top:3%;
}

#flex
{
    display: flex;
    justify-content: space-around;
    height: 150px;
}

#carousel
{
    margin-bottom:5%;
    margin-top:5%;
}

.logo {
    padding-top: 70px;
    width: 75%;
}

 img{
    vertical-align: middle;
    border-style: none;
    width: 31%;
} 


#image {
    width: 700px;
    height: 600px;
}


#ImageR{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    
    /* height:600px;
    width: 760px; */
}

.btn {
    background:#11708f; 
    color:white;
    margin-top: 15px;
}

 /* Style all font awesome icons */
 .fa {
    padding:15%;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  } 

  .footer {
    position: relative;
    margin-top: 50px;
}

.socialmedia {
    position: absolute;
    right: 10%;
    bottom: 10%;
    /* margin-top: 50px; */

}
/* // for responsive with jquery */
/* // Small devices (landscape phones, 576px and up) */


@media screen and (min-width: 480px){
        body, #article{
        width:100%;
}
         h2{
         font-size:14px; 
}
         .footer{
         font-size:14px; 
}

}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 900px) {

}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 900px) {
    
}