html, body
{
    height:100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

body
{
    text-align: center;
    
}

#article
{
    position: relative;
    width:600px;
    height:600px;
    border : solid black 1px;
}

#texteHaut {
   background-color: transparent;
   position: absolute;
   left: 50%;
   top: 5%;
   border: 0ch;
   color:crimson;
   z-index: 2;
}

#texteBas {
    position: absolute;
    left: 50%;
    bottom: 5%;
    background-color: transparent;
    border: 0ch;
    color:crimson;
    z-index: 2;
}

#commande
{
    display:flex;
    flex-direction: column
}

header
{
    display: flex;
    justify-content:space-around;
    height:200px;
    margin-top:3%;
}

#flex
{
    display: flex;
    justify-content: space-around;
    height: 150px;
}

#carousel
{
    margin-bottom:5%;
    margin-top:5%;
}

.logo {
    padding-top: 70px;
    width: 75%;
}

 img{
    vertical-align: middle;
    border-style: none;
    width: 31%;
} 


#image {
    background-size:100% auto;
}


#ImageR{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    
    /* height:600px;
    width: 760px; */
}