html, body
{
height:100%;
width: 100%;
margin:0px;
padding:0px;
}
body
{
text-align: center;
}
#article
{
width:50%;
height:800px;
border : solid black 1px;
}
#commande
{
display:flex;
flex-direction: column
}
header
{
display: flex;
justify-content:space-around;
align-items: center;
height:200px;
}
.flex
{
display: flex;
justify-content: space-around;
}
#carousel
{
margin-bottom:5%;
}